// Green home colors PRIMARY COLOR
$home-color: rgba(#329d97, 1);
$home-color-darken: rgba(#2c928c, 1);
$home-color-light: rgba(#5ed7d0, 1);

// Orange -> SECONDARY COLOR
$secondary-color: rgba(#f4a396, 1);
$secondary-color-darken: rgba(#d68375, 1);

//Grey colors
$light-grey: rgba(#e0dbdb, 1);
$light-grey-darked: rgba(#c5c3c3, 1);
$ultra-light-grey: rgba(#fbfbfb, 1);
$dark-grey: rgba(#716b6b, 1);
