.sidebar {
    width: $sidebar-width;
    height: 100%;
    box-shadow: 1px 0px #cac1c1;
    position: fixed;
    font-family: "Quicksand", sans-serif;
    z-index: 1;
    background-color: $ultra-light-grey;

    &--user-container {
        text-align: center;
        padding: 10px;
    }

    &--profile-photo {
        width: 60px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0px;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    &--menuItem {
        padding: 10px 25px;
        height: 25px;
        line-height: 25px;
        cursor: pointer;
        border-bottom: 1px solid $light-grey;

        p {
            margin: unset;
        }

        &:hover {
            background-color: $light-grey;
        }
    }

    .active {
        background-color: $home-color-light;
        color: white;
        border-left: 7px solid $home-color;
    }
}
