.sidebar {
    width: $leftSideBarOpenWidth;
    height: 100%;
    position: fixed;
    left: -226px;
    border-right: 1px solid #cac1c1;
    z-index: 1;
    background-color: #081f4b;
    transition: left 0.5s;
    border-top: 1px solid #cac1c1;
    color: white;

    &-content {
        margin: 10px 15px;
    }

    // Override Primevue default style
    &-divider:before {
        border-top:1px solid $home-color-light !important;
    }

    &-search {
        background-color: $home-color-light !important;
        border: none !important;
    }

    &.open {
        left: 0px;

        & .sidebar-content {
            opacity: 1;
            overflow: hidden;
        }
    }

    &.pinned {
        left: 0px;
        opacity: 1;

        & .sidebar-content {
            opacity: 1;
        }
    }

    & .toggleLeftSideBar {
        width: 2.2rem;
        height: 2.2rem;
        position: absolute;
        background-color: white;
        border-radius: 50%;
        color: grey;
        vertical-align: center;
        text-align: center;
        padding-top: 0.4rem;
        right: -1.2rem;
        top: 3.5rem;
        z-index: 6;
        border: 0.1rem solid #b2b2b2;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: #0183ff;
            transition: background-color 0.3s;
        }
    }
}
